





























body
{background-color: rgb(252, 245, 245);
}
#d1
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(5, 5, 5);
    background-color: rgb(173, 68, 179);
}
#d2
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(8, 8, 8);
    background-color: rgb(206, 135, 189)
}
#d3
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(2, 2, 2);
    background-color: rgb(103, 153, 200)
}
#d4
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(7, 7, 7);
    background-color: rgb(221, 105, 198)
}
#d5
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(12, 11, 11);
    background-color: rgb(121, 205, 208)
}
#d6
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(8, 8, 8);
    background-color: rgb(163, 127, 217)
}
#d7
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(15, 15, 15);
    background-color: rgb(199, 135, 203)
}
#d8
{font-family: font-family'Alkatra', cursive;
    font-size: 70px;
    color: rgb(15, 15, 15);
    background-color: rgb(138, 115, 201)
}